absl-py
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
asttokens
astunparse
async-timeout
attrs
beautifulsoup4
blinker
blis
blosc
bs4
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
compress-pickle
confection
contourpy
ctransformers
cycler
cymem
dataclasses-json
debugpy
decorator
distlib
distro
Django
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup
executing
ffmpy
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-pasta
gradio
gradio_client
greenlet
grpcio
h11
h5py
httpcore
httpx
huggingface
huggingface-hub
idna
imbalanced-learn
importlib_resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
ml-dtypes
multidict
murmurhash
mypy-extensions
namex
nest-asyncio
nltk
numpy
openai
opt-einsum
optree
orjson
packaging
pandas
parso
pillow
pipenv
platformdirs
preprocess_kgptalkie @ git+https://github.com/laxmimerit/preprocess_kgptalkie.git@96bf02872d9756f29d6cddb8aafaedcd2a39bbb4
preshed
prompt_toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
python-dotenv
python-multipart
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
ruff
scikit-learn
scipy
seaborn
semantic-version
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
stack-data
starlette
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
textblob
thinc
threadpoolctl
toml
tomlkit
toolz
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
wasabi
watchdog
wcwidth
weasel
websockets
Werkzeug
wordcloud
wrapt
xgboost
yarl
